/*TELEFON BOY İÇİN GEÇERLİ OLACAK OLAN STİLLER*/
#navbar{
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;        /*taşma engellendi*/
    height: 85px;
}
#training .items{
    flex-direction: column;
}
#training .items .item{
    width: 100%;
}